.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    background-color: #F7F4F3;
    width: 80%;
    padding: 1rem;
    box-shadow: 0 0 30px #D8D8D8;
}

.form-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.contact-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.array-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: .2rem;
    padding-right: .2rem;
}

.cell {
    width: 100%;
    padding-left: .2rem;
    padding-right: .2rem;
}

mat-form-field {
    width: 100%;
}

.submit-container {
    display: flex;
    flex-direction: row-reverse;

    & button {
        width: 100%;
        height: 100%;
    }
}

// Find out what the size of "$tablet" is
// @media screen and (max-width: $tablet) {
//     .form-section {
//         max-width: 90%;
//     }

//     .card-section {
//         flex-direction: column;
//     }

//     .card-section-grid {
//         display: flex;
//         flex-direction: column;
//     }
// }